{{! Social Buttons: Uncomment the one's you want to use and add your own url. }} 

<a href="#" target="_blank"><button class="btn btn-secondary twitter"><i class="fa fa-fw fa-twitter"></i></button></a>

<a href="#" target="_blank"><button class="btn btn-secondary facebook"><i class="fa fa-fw fa-facebook"></i></button></a>

<a href="#" target="_blank"><button class="btn btn-secondary google-plus"><i class="fa fa-fw fa-google-plus"></i></button>

{{! <a href="#" target="_blank"><button class="btn btn-secondary linkedin"><i class="fa fa-fw fa-linkedin"></i></button></a> }}

{{! <a href="#" target="_blank"><button class="btn btn-secondary pinterest"><i class="fa fa-fw fa-pinterest"></i></button></a> }}

{{! <a href="#" target="_blank"><button class="btn btn-secondary instagram"><i class="fa fa-fw fa-instagram"></i></button></a> }}

{{! <a href="#" target="_blank"><button class="btn btn-secondary flickr"><i class="fa fa-fw fa-flickr"></i></button></a> }}

{{! <a href="#" target="_blank"><button class="btn btn-secondary youtube"><i class="fa fa-fw fa-youtube-play"></i></button></a> }}

{{! <a href="#" target="_blank"><button class="btn btn-secondary vimeo"><i class="fa fa-fw fa-vimeo-square"></i></button></a> }}

{{! <a href="#" target="_blank"><button class="btn btn-secondary tumblr"><i class="fa fa-fw fa-tumblr"></i></button></a> }}

<a href="{{@blog.url}}/rss/" target="_blank"><button class="btn btn-secondary rss"><i class="fa fa-fw fa-rss"></i></button></a>