/* =============================================================
	Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop. 

 * ============================================================= */


/* =============================================================
	POST STYLES
 * ============================================================= */


.post-row {
	padding: 0;
}

.post {

	.post-content {
			margin-top: 4%;
		}
}

#post-featured {
	@include span-columns(12);
	background: $color-white;

	.post-image {
		@include span-columns(7 of 12);
			height: 435px;
			overflow: hidden;
			margin-bottom: 0;
		a {
			display: inline-block;
		    position: relative;
		    right: -50%;
		}
		img {
			position: relative;
    		left: -50%;
    		height: 480px;
			max-width: 700px;
			width: auto;
		}
	}

	.post-content {
		@include span-columns(5 of 12);
		@include pad();
		margin-top: 5%;
	}

}

#post-front {
	@include span-columns(4);
	@include omega(3n);

	.post-image {
		@include span-columns(12);
			height: 260px;
			overflow: hidden;
		a {
			display: inline-block;
		    position: relative;
		    right: -50%;
		}
		img {
			position: relative;
    		left: -50%;
			height: 260px;
			max-width: 500px;
			width: auto;
		}
	}

	.post-content {
		@include span-columns(12);
		height: 220px;
	}
}

.post-tag {
	background: none;
	.tag-name {
		display: none;
	}
}

.post-tag:hover, .post-tag:first-child {
	background: rgba(0,0,0,0.9);
	.tag-name {
		display: block;
	}
	
}

.tag-handle {
	display: block;
	position: absolute;
	top: 0;
	left: -4px;
	width: 2px;
	height: 100%;
	background: #ff0000;
	z-index: 9999999;
}

.tag-handle:hover {
	background: #00ff00;
}


/* =============================================================
	PAGE STYLES
 * ============================================================= */

.page-content {
	@include span-columns(9);
}
