/* =============================================================
	Tablet & Small Desktop Stylesheet

 * ============================================================= */



/* =============================================================
	POST STYLES
 * ============================================================= */
 


#featured-content {

	.post-row {
		border: none;
	}
}

.post {
	@include span-columns(12);

	.post-image {
		@include span-columns(6 of 12);
	}

	.post-content {
		@include span-columns(6 of 12);
	}

}


*[id*='post-front-'] {
	@include span-columns(6);
	@include omega(2n);

	.post-image {
		@include span-columns(12);
		
			overflow: hidden;

		a {
			display: inline-block;
		    position: relative;
		    right: -50%;
		}

		img {
			position: relative;
    		left: -50%;

			width: auto;
		}
	}

	.post-content {
		@include span-columns(12);
		margin-top: 0;
		height: 110px;
	}

	.post-excerpt {
		display: none;
	}
}


/* =============================================================
	PAGE STYLES
 * ============================================================= */


.page-header {
	@include span-columns(10);
}

.page-content {
	@include span-columns(8);
	border-right: 2px solid $light-border;
}

.page-sidebar {
	display: inline;
}


.share {
	
	.btn {
		margin-right: 10px;
	}
}

.social-title {
	display: inline;
}