/******************************************************************

Stylesheet: Base Mobile Stylesheet

Be light and don't over style since everything here will be
loaded by mobile devices. You want to keep it as minimal as
possible. This is called at the top of the main stylsheet
and will be used across all viewports.

******************************************************************/



/* =============================================================
	GENERAL STYLES
 * ============================================================= */

body {
	background: $color-bg;
}

/* =============================================================
	HEADER STYLES
 * ============================================================= */

#blog-header {
	@include row();
	width: 100%;
	position: fixed;
	top:0px;
	left: 0;
	z-index:100000;
	margin:auto; 
	background: #f6f6f6; 
	border-top: 2px solid $dark-border;
	border-bottom: 1px solid $light-border;

	.branding {
		float: left;
	}

	.side-header {
		float: right;
		width: 30px;
		.top-link {
			display: block;
			width: 100%;
			height: 50px;
		}
	}

	.arrow {
		content: '';
		position: relative;
		cursor: pointer;
		top: 40%;
		margin: 0 auto;
		width: 0px;
		height: 0px;
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		border-bottom: 10px solid $light-border;
	}

	.inner-header {
		height:50px;
		background: $color-white;
	}

	.branding {
		display: inline-block;
		height:50px;
		text-align: center;
		padding: 0 20px;
	}

	.top-link:hover {
		cursor: pointer;
	}

	.blog-logo {
		width: 50px;
		height: 50px;
		float: left;
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
	}

	h1 {
		float: left;
		font-size: calc-em(22px);
		padding-left: 5px;
	}

	h1:after {
		content: ': News';
		color: $light-border;
	}
}

/* =============================================================
	CONTENT STYLES
 * ============================================================= */

.content {
	
}

#featured-content {
	@include row();
	background: $color-gray-light;
	background-size: cover;
    background-position: center center;
    border-bottom: 1px solid $light-border;
    .post-row {
    	background: none;
    }
}

#post-featured { 
	margin-bottom: 30px;
}

#post-first {
	padding-top: 80px;
}

.top-stories {
	@include outer-container();
	position: relative;
	height: 20px;
	padding-bottom: 40px;
	background: $color-white;
}

.section-header {
	display: block;
	width: 160px;
	font-size: 0.75em;
	font-weight: 700;
	text-align: center;
	color: $dark-border;
	text-transform: uppercase;
	margin-top: -1px;
	border-top: 1px solid $dark-border;
}

.post-row {
	@include outer-container();
	@include pad();
	background: $color-white;
}

.post {
	@include span-columns(12);
	position: relative;
	font-size: 0.938em;
	background: $color-white;

	.post-image {
		margin-bottom: 1.5em;
	}

	.post-header {	
		padding-left: 10px;
	}

	.post-excerpt {
		@include pad();
		padding-left: 10px;
		font-size: 0.875em;
	}
}

#pagination {
	@include outer-container();
	background: $color-white;
}

/* The main wrapper for our pagination links */
#pagination {
	@include outer-container();
}

.pagination {
	@include row();
	position: relative;
	font-size: .75em;
	text-align: center;
	padding: 20px 0;
	border-top: 1px solid lighten( $light-border, 30% );

	a {
		font-weight: 700;
		text-transform: uppercase;
	}
}

/* Push the previous/next links out to the left/right */
.older-posts,
.newer-posts {
	position: absolute;
	display: inline-block;
	padding: 10px 10px;
	text-decoration: none;

	&:hover {
		
	}
}

.older-posts {
	right: 0;
}

.page-number {
	display: inline-block;
	padding: 2px 0;
}

.newer-posts {
	left: 0;
}

.post-tag {
	display: inline-block;
	height: 24px;
	position: absolute;
	top: 20px;
	left: -2px;
	font-size: 0.626em;
	font-weight: 300;
	color: $color-white;
	text-transform: uppercase;
	text-align: center;
	padding: 5px 10px;
	background: rgba(0,0,0,0.9);
	border-left: 2px solid $dark-border;
}


.post-tag:nth-child(2){
	top: 50px;
}

.post-tag:nth-child(3){
	top: 80px;
}

.post-tag:nth-child(4){
	top: 110px;
}

.post-tag:nth-child(5){
	top: 140px;
}


.post-tag:nth-child(1n+6){
	display: none;
}

.post-title {
	margin-bottom: .1em;
}

.post-meta, .page-meta {
	display: block;
	font-size: .75em;
	font-weight: 300;
	letter-spacing: .1em;
	color: $light-border;
	text-transform: uppercase;
	margin-bottom: .5em;
}

.page-main {
	@include outer-container();
	background: $color-white;
}

.page-header {
	@include span-columns(12);
	text-align: center;
	padding: 100px 0;
}

.page-tag {
	display: inline-block;
	height: 24px;
	font-size: 0.626em;
	font-weight: 300;
	color: $color-white;
	text-transform: uppercase;
	text-align: center;
	padding: 5px 10px;
	background: rgba(0,0,0,0.9);
	border-left: 2px solid $dark-border;
}

.page-title {
	margin-bottom: .5em;
}

.page-content {
	@include span-columns(12);
	@include pad();
	font-size: 0.938em;
	margin-left: -1px;
	margin-top: -60px;
	padding-top: 20px;	
	background: $color-white;
	border-top: 1px solid $dark-border;
}

.page-sidebar {
	display: none;
}

.recent-header {
	@extend .section-header;
	display: inline-block;
	position: relative;
	top: -5px;
	left: -19px;
}

.feedEkList {
	list-style-type: none;
	
}

.feedEkList li a {
	display: block;
	width: 100%;
	padding: 10px 0;
	border-top: 1px solid $color-white;
	border-bottom: 1px solid lighten( $light-border, 30% );
}

.feedEkList li a:hover {
	color: $dark-border;
	text-decoration: none;
	border-top: 1px solid $light-border;
	border-bottom: 1px solid $light-border;
}

.itemTitle {
	font-size: .8em;
	font-weight: 700;
}

.itemDate {
	display: block;
	font-size: .75em;
	font-weight: 300;
	letter-spacing: .1em;
	color: $light-border;
	text-transform: uppercase;
}

.post-share {
	text-align: center;
	border-top: 1px solid $light-border;
	.btn {
		margin-top: 10px;
		margin-right: 20px;
		@include transition (all .25s ease-in);
	}
}

.post-comments {
	margin-top: 20px;
	padding-bottom: 40px;
	border-top: 1px solid $light-border;
}

.social-title {
	display: none;
}

.twitter {
	background: #41b7d8;
	border-color: #41b7d8;
}

.facebook {
	background: #3b5997;
	border-color: #3b5997;
}

.google-plus {
	background: #d64937;
	border-color: #d64937;
}

.linkedin {
	background-color: #0073b2;
	border-color: #0073b2;
}

.pinterest {
	background-color: #cb2027;
	border-color: #cb2027;
}

.instagram {
	background-color:  #406e95;
	border-color:  #406e95;
}

.flickr {
	background-color: #FF0084;
	border-color: #FF0084;
}

.youtube {
	background-color: #FF3333;
	border-color: #FF3333;
}

.vimeo {
	background-color: #44bbff;
	border-color: #44bbff;
}

.tumblr {
	background-color: #2C4762;
	border-color: #2C4762;
}

.rss {
	background-color: $light-border;
	border-color: $light-border;
}

/* =============================================================
	FOOTER STYLES
 * ============================================================= */

#blog-footer {
	@include outer-container();
	text-align: center;
	background: $color-gray-light;
	border-top: 1px solid $dark-border;

	.share-header {
		.btn {
			margin-right: 10px;
			margin-bottom: 10px;
			@include transition (all .25s ease-in);
		}
	}

	.inner-footer {
		clear: both;
		text-align: center;
	}

	.copyright {
		font-size: 0.75em;
		font-weight: 700;
		text-align: center;
		padding: 10px 0;
	}
}