//
// CONFIGURATION SETTINGS
// Adjust colors, font stacks, breakpoints and sizing.
//

// Colors
$color-primary: #222222;
$color-black: #333333;
$color-white: #ffffff;
$color-bg: #e7e7e2;
$color-footer: #424242;

$light-border: #99999c;
$dark-border: #333333;

$color-success: #377f31; // Green
$color-danger: #880e14; // Red
$color-warning: #dba909; // Yellow
$color-code: #dd1144;

$color-gray-dark: #808080;
$color-gray-light: #d5d5d5;


// Font Stacks
$font-primary: "Helvetica Neue", Arial, sans-serif;
$font-secondary: Georgia, Times, serif;
$font-monospace: Menlo, Monaco, "Courier New", monospace;


// Breakpoints
$bp-xsmall: 20em;
$bp-small: 30em;
$bp-medium: 40em;
$bp-large: 60em;
$bp-xlarge: 80em;


// Sizing
$font-base: 100%;
$spacing: 1.5625em;
$container-max: 80em;
